
{% extends '_template.html.twig' %}

{% block title %} Artistes {% endblock %}

{% block content %}

    <div class="section">
        <h1 class="title"> Artistes: {{ artist_list|length }} </h1>
        <div class="columns is-multiline">
            {% for artist in artist_list %}
            
                <div class="column is-one-third">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-128x128">
                                    <img src="https://loremflickr.com/256/256/artist,music/all?lock={{artist.id}}" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <a href="{{ path('artist_page', {id: artist.id})}}" class="has-text-primary">
                                            <strong>{{artist.name}}</strong>
                                        </a>
                                        <br>
                                        <small>Albums: {{ artist.records|length }}</small>
                                        {{artist.description|slice(0, 50)}}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            
            {% endfor %}
    </div>
    </div>

{% endblock %}
