
   {% extends "base.html.twig" %}


   {% block body %}
   
       {# Menu qui sera affiché sur toutes les pages du Front-Office #}
       <nav class="navbar has-background-grey-darker is-dark">
           <div class="navbar-brand">
               <a class="navbar-item" href="#">
                   <p class="subtitle is-4 has-text-primary">
                    <i class="fas fa-headphones-alt"></i> <b>Back_Office</b>
                   </p>
               </a>
   
               <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                   <span aria-hidden="true"></span>
                   <span aria-hidden="true"></span>
                   <span aria-hidden="true"></span>
               </a>
           </div>
   
           <div id="navbarBasicExample" class="navbar-menu">
               <div class="navbar-start">
                   <a class="navbar-item" href="{{path('home')}}">
                       Retour
                   </a>
   
                   <a class="navbar-item" href="{{path('record_list')}}">
                      Records
                   </a>
                   <a class="navbar-item" href="{{ path('label_list')}}">
                    Labels
                </a>
               </div>
   
               <div class="navbar-end">
                   <div class="navbar-item">
                       <div class="buttons">
                            {#  au lieu app.user on peut utiliser Isgranted #} 
                        
                            <a class="button is-primary is-small" href="#">
                                <span class="icon"><i class="fas fa-user-circle"></i></span>
                                <strong>{{ app.user.pseudo }}</strong>
                            </a>
                           <a class="button is-light is-small" href="{{path('app_login')}}">
                               Déconnexion
                           </a>

 
                       </div>
                   </div>

               </div>
           </div>
       </nav>
   
       {# Bloc qui contiendra le contenu de chaque page #}
       {% block content %}{% endblock %}
   
   {% endblock %}