{# On indique de quel template on hérite.
   Le chemin est à indiquer depuis le répertoire racine des templates (templates/) #}
   {% extends "base.html.twig" %}

   {# On déclare les blocs dont on souhaite écraser le contenu.
      Les autres blocs garderont le contenu indiqué dans le template parent #}
   {% block body %}
   
       {# Menu qui sera affiché sur toutes les pages du Front-Office #}
       <nav class="navbar has-background-grey-darker is-dark">
           <div class="navbar-brand">
               <a class="navbar-item" href="#">
                   <p class="subtitle is-4 has-text-primary">
                    <i class="fas fa-headphones-alt"></i> <b>MusicWorld</b>
                   </p>
               </a>
   
               <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                   <span aria-hidden="true"></span>
                   <span aria-hidden="true"></span>
                   <span aria-hidden="true"></span>
               </a>
           </div>
   
           <div id="navbarBasicExample" class="navbar-menu">
               <div class="navbar-start">
                <a class="navbar-item" href="{{ path('record_news')}}">
                    Nouveautés
                </a>
                   <a class="navbar-item" href="{{path('artist_list')}}">
                       Artistes
                   </a>
   
                   <a class="navbar-item" href="{{path('record_list')}}">
                      Records
                   </a>
                   <a class="navbar-item" href="{{ path('label_list')}}">
                    Labels
                </a>
               </div>
   
               <div class="navbar-end">
                   <div class="navbar-item">
                       <div class="buttons">
                            {#  au lieu app.user on peut utiliser Isgranted #} 
                        {% if app.user %}
                            <a class="button is-primary is-small" href="#">
                                <span class="icon"><i class="fas fa-user-circle"></i></span>
                                <strong>{{ app.user.pseudo }}</strong>
                            </a>
                           <a class="button is-light is-small" href="{{path('app_logout') }}">
                               <strong>Déconnexion</strong>

                           </a>

                        {% else %}
                            <a class="button is-primary is-small" href="#">
                                <strong>Inscription</strong>
                            </a>
                            <a class="button is-light is-small" href="{{path('app_login')}}">
                                Connexion
                            </a>
                        {% endif %}

                        {% if is_granted("ROLE_EDITOR") %}
                            <a class="button is-primary is-small" href="{{path('admin_dashboard')}}">
                                <span class="icon"><i class="fas fa-user-circle"></i></span>
                                <strong>Back-Office</strong>
                            </a>
                        {% endif %}
 
                       </div>
                   </div>
   
                   <a class="navbar-item">
                       <form action="#">
                           <div class="field has-addons">
                               <div class="control is-expanded">
                                   <input name="query" type="text" class="input is-small" placeholder="Recherche ..." required>
                               </div>
                               <div class="control">
                                   <button type="submit" class="button is-primary is-small">
                                       <i class="fas fa-search"></i>
                                   </button>
                               </div>
                           </div>
                       </form>
                   </a>
               </div>
           </div>
       </nav>
   
       {# Bloc qui contiendra le contenu de chaque page #}
       {% block content %}{% endblock %}
   
   {% endblock %}